<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- ส่วนนี้เป็นการประกาศว่าแอปของเราสามารถเรียกใช้งานกล้องได้ -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <!-- ▼▼▼ เพิ่มส่วนนี้เข้าไป ▼▼▼ -->
    <queries>
        <!-- ส่วนนี้เป็นการประกาศว่าแอปของเรามีความตั้งใจที่จะเรียกใช้ Intent ประเภท VIEW -->
        <!-- ที่มีข้อมูลเป็นลิงก์ https เพื่อให้ระบบสามารถมองเห็นแอปเบราว์เซอร์ได้ -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <!-- ส่วนนี้เป็นการประกาศว่าแอปของเรามีความตั้งใจที่จะเรียกใช้ Intent ประเภท VIEW -->
        <!-- ที่มีข้อมูลเป็นตำแหน่ง geo เพื่อให้ระบบสามารถมองเห็นแอปแผนที่ได้ -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>
        <!-- ส่วนนี้เป็นการประกาศว่าแอปของเรามีความตั้งใจที่จะเรียกใช้ Intent ประเภท DIAL -->
        <!-- ที่มีข้อมูลเป็นเบอร์โทร tel: เพื่อให้ระบบสามารถมองเห็นแอปโทรศัพท์ได้ -->
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="tel" />
        </intent>
    </queries>
    <!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidIntent">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>